<html>
  <p>Greetings! We hope you are enjoying our services so far.</p>
  <p>
    This is to inform you that we have received your inquiry.<br>
    The reference no. for this inquiry will be attached below.
  </p>
  <p
    style="
      padding: 10px 0;
      font-weight: bolder;
      font-size: 16px;
    "
  >
    Reference No:{{ refId }}
  </p>
  <p>
    We will be using this no. to contact with you in the future.<br>
    Please note that this email is generated automatically and a suitable agent
    will be contact with you as soon as possible.
  </p>
  <p>
    Thank you for contacting with us.<br />
    Vendee Ceylon<br />
    vendeeceylon.com
  </p>
  <p>
    This message is generated automatically. Please do not reply to this
    address.
  </p>
</html>
