<html>
  <p>Greetings! We hope you are enjoying our services so far.</p>
  <p>
    Please click the button below to verify your email address with
    vendeeceylon.com.<br />
    Verifing your email address ensures us to confirm the authenticity of your
    account, thus providing more services for you to experience.
  </p>
  <a
    style="
      display: inline-block;
      background-color: orange;
      color: black;
      padding: 10px;
      font-weight: bolder;
      font-size: 16px;
      text-decoration: none;
    "
    href="{{ link }}"
  >
    Verify Email
  </a>
  <p>
    Thank you for joining with us.<br />
    Vendee Ceylon<br />
    vendeeceylon.com
  </p>
  <p>
    This message is generated automatically. Please do not reply to this
    address.
  </p>
</html>
